
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
#body{
    background-image: linear-gradient(to right, blue, purple, orange);
}
#heading{
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: cursive;
    margin-top: 1em;
}
.label{
    margin-left: 1em;
    color: white;
    font-size: x-large;
}
/* .input{
    border-radius: 0.5em;
    height: 2em;
} */
#row{
    width: 15em;
    height: 2.5em;
}
#column{
    width: 12.5em;
    height: 2.7em;
}
#color{
    width: 5em;
    height: 3em;
}
#draw{
    width: 5em;
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: large;
    margin-left: 4em;
}
#clear{
    width: 5em;
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: large;
    margin-left: 5em;
}
#draw:hover, #clear:hover{
    color: blue;
}
#table{
    width: 25em;
    height: 13em;
    margin-left: 15%;
    /* border: 2px solid black; */
    /* background-color: white; */
}
#table:hover{
    cursor: pointer;
}
tr, td{
    border: 3px solid black;
    background-color: white;
    width: 1em;
    height: 1em;
}

/* #table{
    width: 20em;
    height: 13em;
    margin-left: 3em;
    border: 2px solid black;
    background-color: white;
} */
@media screen and (min-width : 500px) {
    #body{
        background-image: linear-gradient(to right, blue, purple, orange);
    }
    #heading{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: cursive;
        margin-top: 1em;
    }
    .label{
        margin-left: 1em;
        color: white;
        font-size: x-large;
    }
    /* .input{
        border-radius: 0.5em;
        height: 2em;
    } */
    #row{
        width: 13em;
        height: 2.5em;
    }
    #column{
        width: 11em;
        height: 2.7em;
    }
    #color{
        width: 5em;
        height: 3em;
    }
    #draw{
        width: 5.5em;
        padding: 1em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 5em;
    }
    #clear{
        width: 5.5em;
        padding: 1em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 6em;
    }
    #draw:hover, #clear:hover{
        color: blue;
    }
    #table{
        width: 25em;
        height: 13em;
        margin-left: 20%;
        /* border: 2px solid black; */
        /* background-color: white; */
    }
    #table:hover{
        cursor: pointer;
    }
    tr, td{
        border: 3px solid black;
        background-color: white;
        width: 1em;
        height: 1em;
    }
    
    /* #table{
        width: 20em;
        height: 16em;
        margin-left: 2.5em;
        /* border: 2px solid black;
        background-color: white; 
    } */
}
@media screen and (min-width: 800px){
    #body{
        background-image: linear-gradient(to right, blue, purple, orange);
    }
    #heading{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: cursive;
        margin-top: 1em;
    }
    .label{
        margin-left: 4em;
        color: white;
        font-size: xx-large;
    }
    /* .input{
        border-radius: 0.5em;
        height: 3em;
        width: 25em;
    } */
    #row{
        width: 25em;
        height: 2.5em;
    }
    #column{
        width: 22em;
        height: 2.7em;
    }
    #color{
        width: 5em;
        height: 3em;
    }
    #draw{
        width: 6em;
        padding: 0.8em;
        border-radius: 0.5em;
        font-size: x-large;
        margin-left: 8em;
    }
    #clear{
        width: 6em;
        padding: 0.8em;
        border-radius: 0.5em;
        font-size: x-large;
        margin-left: 5em;
    }
    #draw:hover, #clear:hover{
        color: blue;
        cursor: grab;
    }
    #table{
        width: 25em;
        height: 13em;
        margin-left: 30%;
        /* border: 2px solid black; */
        /* background-color: white; */
    }
    #table:hover{
        cursor: pointer;
    }
    tr, td{
        border: 3px solid black;
        background-color: white;
        width: 1em;
        height: 1em;
    }
    
    /* #table{
        width: 35em;
        height: 20em;
        margin-left: 7em;
        border: 2px solid black;
        background-color: white;
    } */
}
@media screen and (min-width : 1200px) {
    #body{
        background-image: linear-gradient(to right, blue, purple, orange);
    }
    #heading{
        color: white;
        text-align: center;
        font-size: 3em;
        font-family: cursive;
    }
    .label{
        margin-left: 25em;
        color: white;
        font-size: large;
    }
    #row{
        border-radius: 0.5em;
        width: 25em;
        height: 3em;
    }
    #column{
        border-radius: 0.5em;
        width: 25em;
        height: 3em;
    }
    #color{
        border-radius: 0.5em;
        width: 5em;
        height: 3em;
    }
    .input{
        border-radius: 0.5em;
    }
    #draw{
        width: 5em;
        padding: 0.6em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 25em;
    }
    #clear{
        width: 5em;
        padding: 0.6em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 0.5em;
    }
    #draw:hover,  #clear:hover{
        color: blue;
        cursor: grab;
    }
    #erase{
        width: 5em;
        padding: 0.6em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 8em;
    }
    #paint{
        width: 5em;
        padding: 0.6em;
        border-radius: 0.5em;
        font-size: large;
        margin-left: 0.5em;
    }
    #erase:hover,  #paint:hover{
        color: blue;
        cursor: grab;
    }/* 
    #div-btn{
        margin-top: -2.7em;
    } */
    #table{
        width: 25em;
        height: 13em;
        margin-left: 40%;
        margin-top: 5em;
        /* border: 2px solid black; */
        /* background-color: white; */
    }
    #table:hover{
        cursor: pointer;
    }
    tr, td{
        border: 3px solid black;
        background-color: white;
        width: 1em;
        height: 1em;
    }
    #clear{
        cursor: grab;
    }

}
